.form {
  position: relative;
  margin: 10px 20px;
  width: 450px;
  height: 250px;
  background: #aefaae;
  border-radius: 20px;
}

.btnResend {
  cursor: pointer;
  position: absolute;
  top: 300px;
  border: none;
  border-radius: 5px;
  background: #93b9fd;
  color: white;
  z-index: 11;
  font-size: 35px;
  width: 500px;
}


.iconsClass {
  font-weight: bold;
}

.titleModal {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 10px;
  width: 60px;
  border-radius: 10px;
  height: 25px;
  background: #518af3;
  color: white;
}

.btn:disabled {
  background: #f50622;
  opacity: 30%;
}


.inputForm {
  margin-right: 15px;
  position: absolute;
  top: 16px;
  left: 20px;
}

label {
  display: block;
  height: 40px;
  width: 100px;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 30px;
  color: blue;
  white-space: nowrap;
}

input {
  display: block;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.fut {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.registerBtn {
  position: static;
  margin: 15px;
  display: flex;
  cursor: pointer;
  color: blue;
  font-size: 15px;
}

.registerBtn:hover {
  font-weight: bold;
}


.password {
  position: relative;
}

.icon-pass {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


@media (max-width: 1300px) {
  .titleModal {
    color: white;
  }
}

@media (max-width: 960px) {
  .title {
    left: 400px;
    font-size: 30px;
    word-spacing: 150vw;
  }
}

@media (max-width: 720px) {
  .title {
    left: 200px;
    font-weight: normal;
    word-spacing: normal;
  }
}

@media (max-width: 600px) {

  .titleModal {
    font-size: 20px;
  }

  .btnResend {
    width: 320px;
    font-size: 20px;
  }

  .title {
    position: static;
    word-spacing: 200vw;
    height: 100px;
    width: 550px;
    margin-left: 1px;
  }

  .form {
    max-width: 280px;
    height: 200px;
    word-spacing: 200vw;
  }

  .fut {
    display: flex;
    justify-content: space-between;
    max-width: 230px;
    max-height: 40px;
    margin: 10px auto;
  }

  label {
    height: 20px;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 15px;
  }

    .registerBtn {
    width: 126px;
    height: 20px;
    margin-top: 15px;
    margin-right: 0;
  }

  input {
    font-size: 17px;
  }

  .inputForm {
    width: 235px;
  }
}
