<div class="coverDownloadApp">
  <div class="downloadAppBtnBlock">
    <button (click)="switchPhone('iPhone')" class="downloadAppBtn"> iPhone </button>
    <button (click)="switchPhone('Android')" class="downloadAppBtn"> Android </button>
  </div>
  <div class="downloadAppPhoneBlock" *ngIf="iPhone">
    <div class="downloadAppPhoneDescriptionBlock">
      <div class="downloadAppDescription">
        > Откройте приложение в Safari
        <br>
        Нажмите:
        <br>
        > Поделиться
        <br>
        > Экран домой
        <br>
        > Добавить
      </div>
    </div>
  </div>
  <div class="downloadAppPhoneBlock" *ngIf="Android">
    <div class="downloadAppPhoneDescriptionBlock">
      <div class="downloadAppDescription">
       > Откройте приложение в Браузере
        <br>
         Нажмите:
        <br>
        > Меню три точки, в правом верхнем углу
        <br>
        > Добавить на главный экран
        <br>
        > Установить
      </div>
    </div>
  </div>
</div>
