<div class="coverDownloadApp">
  <div class="downloadAppBtnBlock">
    <button (click)="switchPhone('iPhone')" class="downloadAppBtn"> iPhone </button>
    <button (click)="switchPhone('Android')" class="downloadAppBtn"> Android </button>
  </div>
  <div class="downloadAppPhoneBlock" *ngIf="iPhone">
    <div class="downloadAppPhoneDescriptionBlock">
      <div class="downloadAppDescription">
        > Откройте приложение в Safari
        <br>
        Нажмите:
        <br>
        > Поделиться
        <br>
        > Экран домой
        <br>
        > Добавить
      </div>
    </div>
  </div>
  <div class="downloadAppPhoneBlock" *ngIf="Android">
    <div class="downloadAppPhoneDescriptionBlock">
      <p class="installDesPTitle"> Откройте приложение в Браузере</p>
      <div class="downloadAppDescription">
        <div>
          <p class="installDesP">1. Нажмите точки, в правом верхнем углу</p>
          <img class="instDes" src="/assets/installDes/id1.jpg" alt="instDes">
        </div>
        <div>
          <p class="installDesP"> 2. Добавить на главный экран </p>
          <img class="instDes" src="/assets/installDes/id2.jpg" alt="instDes">
        </div>
        <div>
          <p class="installDesP">3. Установить </p>
          <img class="instDes" src="/assets/installDes/id3.jpg" alt="instDes">
        </div>
      </div>
    </div>
  </div>
</div>
