<div class="coverDownloadApp">
  <div class="downloadAppBtnBlock">
    <button (click)="switchPhone('iPhone')" class="downloadAppBtn"> iPhone </button>
    <button (click)="switchPhone('Android')" class="downloadAppBtn"> Android </button>
  </div>
  <div class="downloadAppPhoneBlock" *ngIf="iPhone">
    <div class="downloadAppPhoneDescriptionBlock">
      <div class="downloadAppDescription">1.Откройте Safari по ссылке: <a style="color: #ffffff" href="https://xn--80aneajyecjh1b5f.xn--p1ai/">записьКпрофи.рф</a>  </div>
      <div class="downloadAppDescription">2 Нажмите > поделиться > экран домой > добавить</div>
    </div>
  </div>
  <div class="downloadAppPhoneBlock" *ngIf="Android">
    <div class="downloadAppPhoneDescriptionBlock">
      <div class="downloadAppDescription"
      >
        1.Откройте Браузер по ссылке:
        <a style="color: #ffffff" href="https://xn--80aneajyecjh1b5f.xn--p1ai/"
        >
          записьКпрофи.рф
        </a>
      </div>
      <div class="downloadAppDescription" style="text-align: right"
      >
        2 Нажмите > меню три точки, в правом верхнем углу > Добавить на главный экран > Установить
      </div>
    </div>
  </div>
</div>

