.modalPage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1200px;
  background: black;
  opacity: 50%;
}

.modalContent {
  position: sticky;
  margin: 0 auto;
  padding: 5px;
  background: rgba(246, 243, 243, 0.5);
  border-radius: 10px;
}

@media (max-width: 600px) {
  .modalContent {
    max-width: 350px;
    margin: 0 auto;
    padding: 5px;
  }

}

