
.modalErrorClass {
  margin: 10px;
  background: #d01a1a;
  border-radius: 10px;
  padding: 10px;
  max-width: 92%;
}

.titleErrModal {
  display: flex;
  justify-content: center;
}

.errMessage {
  margin: 10px;
  max-width: 550px;
  /*white-space: nowrap;*/
}

.btnErrModal {
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
       .modalErrorClass {
         max-width: 90%;
       }
}
