.modalSuccessClass {
  border-radius: 10px;
  background: #11f5ba;
  color: #5238fd;
  max-width: 95%;
}

.titleSuccessModal {
  text-align: center;
  margin: 15px;
  padding-top: 10px;
}

.successMessage {
  margin: 15px;
}

.btnSuccessModal {
  display: flex;
  justify-content: center;
  margin: 15px;
}
