.modalSuccessClass {
  border-radius: 10px;
  background: #11f5ba;
  color: #5238fd;
}

.titleSuccessModal {
  text-align: center;
  margin: 15px;
  padding-top: 10px;
}

.successMessage {
  margin: 15px;
  white-space: pre;
  line-height: 24px;
}

.btnSuccessModal {
  display: flex;
  justify-content: center;
  margin: 15px;
}
