.coverInstruction {
  padding: 5px;
}

.downloadAppBtnBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructionBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
}

.instructionBtn {
  margin: 3px;
  border-radius: 7px;
}

.instructionDescription {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}



@media (max-width: 550px) {
  .instructionDescriptionBlock {
    max-width: 300px;
  }
}
