.regFormClass {
  position: relative;
  margin: 10px 20px;
  padding-bottom: 15px;
  background: #aefaae;
  color: #5238fd;
  width: 450px;
  max-height: 350px;
  border-radius: 10px;
  text-align: center;
}

label {
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: center;
  font-size: 28px;
}

.futReg {
  border-top: solid 1px;
  width: 350px;
  margin: 0 auto;
}

.arrowClass {
  position: absolute;
  top: 10px;
  width: 55px;
  height: 30px;
  border-radius: 10px;
  left: 10px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.arrowClass:hover {
  color: red;
  background: #9bfd9b;
}

.closeChoiceOrgClass {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.closeChoiceOrgClass:hover {
  color: red;
}

input {
  margin: 10px 15px 5px 15px;
  border: solid 1px #518af3;
  border-radius: 10px;
  padding: 7px;
}


.futRegForm {
  display: flex;
  justify-content: end;
  margin: 10px 50px;
}

.futRegF {
  display: flex;
  justify-content: end;
  margin: 10px 50px;
}

.titleRegForm {
  color: #2630f1;
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.orgClass {
  margin: 10px 10px 20px 45px;
  max-height: 100px;
  overflow: auto;
}

.orgClass::-webkit-scrollbar {
  display: none;
}


.ownOrg {
  margin: 10px;
  display: block;
  text-align: start;
  cursor: pointer;
}

hr {
  margin: 10px;
}

.btnReset {
  position: absolute;
  top: 10px;
  left: 20px;
  background: white;
  border: none;
  color: #5238fd;
  font-size: 15px;
  border-radius: 20px;
}

.btnReset:hover {
  font-weight: bold;
  color: #0221c0;

}

.btnFutRegForm {
  border: none;
  background: none;
  border-radius: 10px;
  color: #5238fd;
  cursor: pointer;
}

.btnFutRegFormNext {
  background: white;
  border-radius: 10px;
}


.btnFutRegForm:hover {
  background: white;
  color: #0221c0;
}

.btnFutRegForm:disabled {
  background: none;
  color: red;
}

.btnNewOrg {
  margin: 10px;
  border: none;
  background: none;
  border-radius: 10px;
  color: #5238fd;
  font-weight: bold;
}

.textNoOrg {
  color: #f50622;
  font-size: 14px;
}

.btnNewOrg:hover {
  background: white;
  cursor: pointer;
}



@media (max-width: 600px) {
  label {
    font-size: 20px;
  }


  .futReg {
    border-top: solid 1px;
    width: 270px;
    margin: 0 auto;
  }

  .arrowClass {
    top: 15px;
    width: 45px;
  }

  .regFormClass {
    width: 280px;
    margin: 15px;
    padding: 5px 15px;
  }

  .orgClass {
    margin: 20px auto;
    max-height: 90px;
    overflow: auto;
  }
}
