<label for="inputRegFormChoice">
  Выберите организацию
</label>

<div class="regFormClass">
  <strong class="arrowClass" (click)="openLoginPage()">  &larr;  </strong>
    <input id="inputRegFormChoice" type="text" placeholder="поиск..." [(ngModel)]="searchOrg">

    <div class="orgClass" *ngIf="allOrgForReset">
      <div
         *ngFor="let org of allOrgForReset | filterOrg: searchOrg; index as i">
         <span class="ownOrg"  (click)="choiceOrg(org)">
          {{org.name}}
         </span>
      </div>
    </div>

  <div class="futReg">
    <button class="btnNewOrg"
            (click)="addNewOrg()"
            >
      + Добавить новую
    </button>
  </div>
</div>


