.modalWindowForPerson {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: black;
  opacity: 50%;
}

.modalContentForPerson {
  max-width: 100%;
  position: fixed;
  top: 150px;
  background: white;
  border-radius: 10px;
}
