.titleAddFormNewOrg {
  font-size: 28px;
  margin: 0;
}

.regFormAddNewOrgClass {
  border-radius: 15px;
  background: #aefaae;
  width: 450px;
  height: 250px;
  padding: 0 20px 0 40px;
  margin: 10px 15px 15px 15px;
}

span {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 25px;
}

.formAddNewOrg {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #5238fd;
}

.futRegFormAddNewOrg {
  display: flex;
  justify-content: space-between;
  margin: 10px 50px 10px 10px;
}

.btnFutAddNewOrg {
  background: white;
  border: none;
  border-radius: 10px;
}

label{
  margin: 5px;
}

input{
  border-radius: 10px;
  width: 90%;
  padding: 5px;
  border: none;
}

@media (max-width: 600px) {

  .titleAddFormNewOrg {
    font-size: 20px;
  }

  .regFormAddNewOrgClass {
    width: 280px;
    padding: 10px;
  }

  .formAddNewOrg {
    margin: 0 auto;
  }

  label{
    margin-left: 15px;
  }

  input {
    width: 250px;
    margin: 0 auto;
  }

  .futRegFormAddNewOrg{
    width: 240px;
    margin: 10px auto;
  }

}
