<div class="directionTitleWrapper">
  <div class="directionTitle"
       *ngIf="showEmployees; else employeesBlock"
       (click)="switchDirection()"
  >
    <h4>Направления </h4>
  </div>

  <ng-template #employeesBlock>
   <div class="directionBody">
     <div *ngFor="let employee of employees">
       <div class="infoAboutEmployee">
         <button class="returnToOrg"
                 *ngIf="btnHomeMenu"
                 (click)="returnToOrgAndCloseEmployees()"
         >
           &larr;
         </button>
         <button class="btnCloseEmp"
                 *ngIf="btnCloseEmployee"
                 (click)="returnToOrg()"
         >
           &times;
         </button>

         <div>
           {{employee.direction}}
         </div>

         <div class="choiceEmployee" (click)="choiceEmployee(employee)">
<!--           меняем при деплое-->
<!--           <img class="imgPerson" src="http://62.76.90.163:63420/{{employee.photoEmployee}}" height="170" width="200">-->
           <img class="imgPerson" src="http://localhost:3000/{{employee.photoEmployee}}"  alt="Загрузите фото сотрудника" height="170" width="200">
         </div>

         <div class="choiceEmployee" (click)="choiceEmployee(employee)">
           {{employee.jobTitle}}: {{ employee.nameUser }} {{ employee.surnameUser }}
         </div>

       </div>


     </div>
   </div>
  </ng-template>
</div>
