<div class="container">
  <div class="mainPage">

    <div class="title" routerLink="/personal-page">
      <p class="adaptive" *ngIf="dateService.nameOrganizationWhereItCameFrom | async; else title"
      >
        {{dateService.nameOrganizationWhereItCameFrom | async}}
      </p>
      <ng-template #title>
        <p class="compVersion">{{mainTitle}}</p>
        <p class="adaptive">{{mainTitleComp}}</p>
      </ng-template>
    </div>

    <div class="errorModal">
      <app-error-modal></app-error-modal>
    </div>
    <div class="successModal">
      <app-success-modal></app-success-modal>
    </div>
    <!--<button (click)="openModal()">войти заново</button>-->

    <div class="appDescription" (click)="modalService.openAppDescription$()">
      <button class="btnDetailsClass"> Подробнее... </button>
    </div>

    <div class="appDescription" (click)="modalService.downloadApplication()">
      <button class="btnDetailsClass"> Скачать приложение </button>
    </div>

    <div class="appDescription" (click)="modalService.instructionsForStart()">
      <button class="btnDetailsClass"> Инструкция для старта </button>
    </div>

    <div class="modal" *ngIf="modalService.isVisible$ | async">
      <app-modal-page>
        <app-login-page *ngIf="modalService.loginForm$ | async"></app-login-page>
        <app-reg-form-choice-organization *ngIf="modalService.regFormChoiceOrg$ | async"></app-reg-form-choice-organization>
        <app-reg-form-new-org *ngIf="modalService.regFormAddNewOrg$ | async"></app-reg-form-new-org>
        <app-registrationForm-page *ngIf="modalService.registrationForm$ | async"></app-registrationForm-page>
        <app-description-application *ngIf="modalService.appDescription$ | async"></app-description-application>
        <app-download-app *ngIf="modalService.downloadApp$ | async"></app-download-app>
        <app-instructions-for-start *ngIf="modalService.instructions$ | async"></app-instructions-for-start>
        <app-contacts *ngIf="modalService.appContacts$ | async"></app-contacts>
        <app-support-development *ngIf="modalService.appSupport$ | async"></app-support-development>
      </app-modal-page>
    </div>
  </div>
  <div class="enterAndBtn">
    <div class="cowerEnter">
      <strong *ngIf="modalService.hideTitle$ | async"
              class="enter" (click)="modalService.hideTitle()"
              routerLink="/personal-page"
      >
        {{modalTitle}}
      </strong>

      <div class="contactsBlock" *ngIf="modalService.hideTitle$ | async">
        <button class="btnContactClass" (click)="modalService.openAppContacts()"> Контакты </button>
        <button class="btnContactClass" (click)="modalService.openAppSupport()"> Поддержать разработку  </button>
      </div>
    </div>
  </div>
</div>


