.mainPage {
  color: white;
}

.compVersion {
  margin: 0;
}

.modal{
  position: relative;
  display: flex;
  justify-content: center;
}

.successModal {
  background: rgba(246, 243, 243, 0.5);
  border-radius: 10px;
  text-align: center;
  position: fixed;
  top: 200px;
  left: 30%;
  z-index: 111;
}

.appDescription {
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}


.contactsBlock {
  display: flex;
  justify-content: center;
  }


.btnContactClass {
  background: none;
  display: block;
  margin: 5px 40px;
  cursor: pointer;
  color: white;
}

.btnDetailsClass {
  background: none;
  display: block;
  margin: 20px auto;
  cursor: pointer;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  max-height: 60px;
  font-weight: bold;
  cursor: pointer;
}

.adaptive {
  display: none;
}

.enterAndBtn {
  margin-top: 300px;
}

h3 {
  display: flex;
  justify-content: center;
}

.enter {
  color: white;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.enter:hover {
  color: #aefaae;
}


@media (max-width: 1700px) {
  .enter {
    left: auto;
  }

  .contactsBlock {
    left: auto;
  }
}

@media (max-width: 1440px) {
  .appDescription {
    left: 520px;
  }
}

@media (max-width: 1300px) {
  .appDescription {
    left: 400px;
  }

}

@media (max-width: 960px) {
  .title {
    font-size: 30px;
    max-height: 40px;
    text-align: center;
  }
  .enter {
    font-size: 25px;
  }
  .appDescription {
    font-size: 25px;
    top: 70px;
    left: 200px;
  }

  .btnContactClass {
    margin: 5px 20px;
  }
}



@media (max-width: 660px) {
  .enter {
    top: 300px;
    font-size: 23px;
    white-space: nowrap;
  }

  .adaptive {
    margin: 0;
    display: flex;
  }

  .compVersion {
    display: none;
  }

  .enter {
    font-size: 25px;
  }

  .appDescription {
    font-size: 25px;
    top: 70px;
    left: 100px;
  }

  .successModal {
    top: 150px;
    left: 10%;
  }

  .contactsBlock {
    top: 350px;
  }
}


@media (max-width: 450px) {
  .enter {
    font-size: 20px;
  }

  .successModal {
    top: 150px;
    left: 1%;
  }
}
