<div class="now">
  <div class="titleNow" (click)="personalBlockService.switchData()">

    <!--<button class="btnClosePersonalDataComponent" (click)="personalBlockService.switchData()">&times;</button>-->
  </div>
  <div class="currentUser">
    <div>
      <!--<strong *ngIf="dateService.currentUserIsTheMainAdmin | async"> {{dateService.currentUserRole | async}}: </strong>-->
      <strong *ngIf="dateService.currentUserSimpleUser | async"> Клиент: </strong>
      <strong *ngIf="dateService.currentUserIsTheAdminOrg | async"> {{dateService.currentUserRole | async}}: </strong>
    </div>
    <span> {{dateService.currentUserNameAndSurname | async}} </span>
  </div>

  <div  *ngIf="!dateService.openEmployee.value">
    <div class="addPhotoOrg" *ngIf="dateService.currentUserIsTheAdminOrg | async">
      <label for="inputPhotoOrgLabel">
        <span class="uploadEmployeePhoto">Добавить фото моей организации</span>
      </label>
      <input class="inputPhotoOrgLabel"
             name="file"
             type="file"
             id="inputPhotoOrgLabel"
             accept="image/png, image/jpeg"
             (change)="loadLabelOrg($event)"
      >
    </div>
  </div>

  <div class="currentUser" *ngIf="dateService.currentUserSimpleUser.value">
    <div>
      <strong> Выбрано: </strong>
    </div>
    <span class="currentUserNameOrg"> {{dateService.nameSelectedOrg | async }} </span>
  </div>
  <div class="currentUser" *ngIf="dateService.currentUserSimpleUser.value">
    <div>
      <strong> Баланс: </strong>
    </div>
    <span> 0 руб </span>
  </div>
  <div class="currentUser" *ngIf="dateService.currentUserSimpleUser.value">
    <div>
      <strong> Остаток записей: </strong>
    </div>
    <span> {{dateService.remainingFunds | async}} </span>
  </div>
</div>
