<div class="selectedUserClass">
  <div class="coverPersonalData">
    <div class="personalDataTitle">
      <strong class="clientTitle"> Данные о клиенте </strong>
      <button class="btnClosePersonalData" (click)="modalService.close()">&times;</button>
    </div>
    <div class="selectedUserClass">
      <div>
        <strong> {{roleUser}}: </strong>
      </div>
      <strong *ngIf="newUser" class="newUser">NEW</strong>
      <span (click)="renameUser()" class="renameUser">
         <svg width="12" height="12" viewBox="0 0 32 32" fill="red"><path class="cls-1" d="M2,29a1,1,0,0,1-1-1.11l.77-7a1,1,0,0,1,.29-.59L18.42,3.94a3.2,3.2,0,0,1,4.53,0l3.11,3.11a3.2,3.2,0,0,1,0,4.53L9.71,27.93a1,1,0,0,1-.59.29l-7,.77Zm7-1.78H9ZM3.73,21.45l-.6,5.42,5.42-.6,16.1-16.1a1.2,1.2,0,0,0,0-1.7L21.53,5.35a1.2,1.2,0,0,0-1.7,0Z"/><path class="cls-1" d="M23,14.21a1,1,0,0,1-.71-.29L16.08,7.69A1,1,0,0,1,17.5,6.27l6.23,6.23a1,1,0,0,1,0,1.42A1,1,0,0,1,23,14.21Z"/><rect class="cls-1" height="2" transform="translate(-8.31 14.13) rotate(-45)" width="11.01" x="7.39" y="16.1"/><path class="cls-1" d="M30,29H14a1,1,0,0,1,0-2H30a1,1,0,0,1,0,2Z"/></svg>
        {{nameUser}}
      </span>
    </div>

    <div class="selectedUserClass">
      <div>
        <strong> Тел: </strong>
      </div>
      <span> {{dateService.clientPhone.value}}</span>
    </div>

    <div class="selectedUserClass">
      <div>
        <strong> Email </strong>
      </div>
      <span style="text-align: right"> {{dateService.clientEmail.value}}</span>
    </div>

    <div class="selectedUserClass" *ngIf="!hideBtnForCurrentAdmin">
      <div>
        <strong> Остаток: </strong>
      </div>
      <span> {{remainingFunds}} </span>
    </div>
    <div  *ngIf="!hideBtnForCurrentAdmin">
      <form [formGroup]="form" (submit)="submit()" class="selectedUserClass">
      <div>
          <strong class="subscription"> Абонемент:  </strong>
<!--          <small class="numOfRec"> (сколько раз клиент может записаться) </small>-->
         <!-- <div class="tooltipForSubscription">
            <small> (сколько раз клиент может записаться) </small>
            то тултип tooltype  по появляеться при наведении на малом жкране
          </div>-->

        </div>
        <div class="btnAddEnt">
          <input type="number" class="inputAddSubscription" min="1" formControlName="subscription">
          <button type="submit">Добавить</button>
        </div>
      </form>
    </div>
    <div class="selectedUserClass" *ngIf="!hideBtnForCurrentAdmin">
      <div>
        <strong *ngIf="!recAllowed"> Запись разрешена: </strong>
        <strong *ngIf="recAllowed" style="color: red"> Запись запрещена: </strong>
      </div>
      <button *ngIf="recAllowed" (click)="changeAllowed()" style="background: #03f303"> Разрешить </button>
      <button *ngIf="!recAllowed" (click)="changeAllowed()" style="background: salmon"> Запретить </button>
    </div>
    <!--<div *ngIf="!hideBtnForCurrentAdmin">
      <div class="selectedUserClass" *ngIf="!showBtnAdminAndUser">
        <div>
          <strong> Назначить: </strong>
        </div>
        <button class="btnChangeRoleClass" (click)="changeRole()"
        >
          <span *ngIf="showBtnUser" >Пользователем</span>
          <span *ngIf="showBtnAdmin">Администратором</span>
        </button>
      </div>
    </div>-->

    <div *ngIf="!dateService.openEmployee.value">
      <div  *ngIf="!hideBtnForCurrentAdmin">
        <div *ngIf="employeeCurrentOrganization" class="removeFromOffice">
          <div class="removeFromOfficeTitle">
            <strong> {{selectedUser.jobTitle}} </strong>
          </div>
          <button class="btnRemoveFromOffice" (click)="fireFromOrg()">
            Снять с должности
          </button>
        </div>
        <div *ngIf="!employeeCurrentOrganization" (click)="switchFormEmployees()" class="selectedUserClass">
          <strong class="btnShowDayRec" *ngIf="!stateFormEmployees"> Назначить </strong>
          <strong class="btnShowDayRec" *ngIf="stateFormEmployees"> Отменить </strong>
        </div>
      </div>
    </div>

    <div *ngIf="employeeCurrentOrganization" class="addPhotoEmployee">
      <label for="inputPhotoEmployee">
        <span class="uploadEmployeePhoto">Загрузить фото</span>
      </label>
      <input class="inputPhotoEmployee"
             name="file"
             type="file"
             id="inputPhotoEmployee"
             accept="image/png, image/jpeg"
             (change)="loadFile($event)"
      />
    </div>

    <form *ngIf="stateFormEmployees"
          [formGroup]="formEmployees"
          (submit)="submitAssign()"
          class="selectedUserClass"
    >
      <div class="employeesBlock">
        <div class="employeesBlockInput">
          <div class="selectedUserClass">
            <input type="text" placeholder="Направление" formControlName="direction">
          </div>
          <div class="selectedUserClass">
            <input type="text" placeholder="Должность" formControlName="jobTitle">
          </div>
        </div>
        <button type="submit" class="employeesBtnAssign" [disabled]="formEmployees.invalid">
          Назначить
        </button>
      </div>
    </form>

    <div class="selectedUserClass" *ngIf="!hideBtnForCurrentAdmin">
      <div (click)="showOrHideDaysRec()">
        <strong class="btnShowDayRec" *ngIf="!blockRecordsSelectedUser"> Показать дни записи... </strong>
        <strong class="btnShowDayRec" *ngIf="blockRecordsSelectedUser"> Скрыть дни записи... </strong>
      </div>
    </div>
  </div>
</div>


<ng-container *ngIf="!hideBtnForCurrentAdmin">
  <div class="selectedUserClass" *ngIf="blockRecordsSelectedUser">
    <div class="recordDaysClass">
      <div class="personalDataTitleFooter">
        <strong class="clientTitle">
          Дни записи клиента
          <span style="color: #5238fd">
           в {{dateService.date.value.format('M') | translateMonth}}
         </span>
        </strong>
       <!-- <button class="btnCancelAllRecSelectedUs" disabled> отменить все записи !</button>-->
        <div class="dataRecordsBlockSelectedUser" >
          <div class="dataRecordsSelectedUser">
            <div class="strSRecordsSelectedUser heightRow" *ngFor="let entry of dateService.allEntrySelectedUserInSelectMonth | async">
            <span>
              дата: {{entry.date}}
            </span>
              <span>
              время: {{entry.time}}:00
            </span>
              <button class="strRecordsSelectedUser"
                      (click)="deleteSelectedRecSelectedUser(entry)"
                      *ngIf="blockRepeat ||
                    entry.date.substring(3,5) > currentDate.substring(3,5) ||
                    entry.date.substring(0,2) > currentDate.substring(0,2)  &&
                    entry.date.substring(3,5) === currentDate.substring(3,5) ||
                    entry.time > currentHour && entry.date === currentDate                      "
              >
                &times;
              </button>
            </div>
          </div>
        </div>
      </div>


      <ng-template #notContentBlock>
        <span class="notContentClass">в {{dateService.date.value.format('M') | translateMonth}} записей нет!</span>
      </ng-template>

    </div>
  </div>
</ng-container>

