.selectedUserClass {
  background: #f8eeee;
}
.coverPersonalData {
  width: 450px;
}

.clientTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remainingDirection {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blockAssignmentEmployee {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnBlockAssignmentEmployee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.assignmentEmployeeInput {
  margin: 5px 10px;
}

.employeesBtnAssign {
  margin: 5px;
  color: #0221c0;
}

.informationAvailableClass {
  display: flex;
  justify-content: center;
  align-items: center;
}

.removeFromOffice {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 10px;
}

.btnRemoveFromOffice {
  /*max-width: 80px;*/
  height: 20px;
}

.removeFromOfficeTitle {
  white-space: nowrap;
}

.addPhotoEmployee {
  margin: 10px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background: #aefaae;
}

.inputPhotoEmployee {
  display: none;
}

.employeesBtnAssign:disabled {
  color: #aefaae;
}

.uploadEmployeePhoto {
  padding: 0 5px;
  white-space: nowrap;
}

.btnAddEnt {
  display: flex;
}

.renameUser {
  cursor: pointer;
  text-align: right;
}

.renameUser:hover {
  color: #518af3;
}

.newUser {
  color: #5238fd;
}

.heightRow {
  margin: 15px 0;
}

.strRecordsSelectedUser {
  margin-left: 50px;
  color: red;
}

.dataRecordsBlockSelectedUser {
  margin: 10px;
}

.recordDaysClass {
  position: relative;
  width: 500px;
  max-height: 300px;
  overflow: auto;
}

.closeLabelColor {
  color: red;
}

.btnShowHide {
  border-radius: 5px;
  cursor: pointer;
}

.btnCancelAllRecSelectedUs {
  margin: 10px;
}

.selectedUserClass {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  max-width: 380px;
}

span{
  margin-left: 3px;
}

.personalDataListFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
}

.btnClosePersonalData{
  position: absolute;
  right: 3px;
  top: 3px;
  border: none 1px #f6dbff;
  cursor: pointer;
  background: none;
}


.btnChangeRoleClass {
  margin-left: 15px;
  border-radius: 5px;
}

.inputAddSubscription {
  width: 40px;
  margin-left: 18px;
}

.numOfRec {
  margin-left: 18px;
}

.tooltipForSubscription {
  display: none;
}

@media (max-width: 600px) {
  .numOfRec {
    max-width: 10px;
    display:none;
  }

  .inputAddSubscription {
    margin-left: 80px;
    width: 40px;
  }

  .subscription:hover~.tooltipForSubscription {
    position: absolute;
    display: block;
    background: #f3f9f3;
    width: 290px;
    height: 70px;
    color: #0221c0;
  }
}


@media (max-width: 450px) {
  .selectedUserClass {
    max-width: 305px;
  }
}
