.selectedOrg {
  display: block;
  border-radius: 10px;
  margin: 5px;
  color: white;
  background: none;
  border: solid 1px red;
  max-height: 150px;
  max-width: 490px;
  cursor: pointer;
}

.selectedOrg:hover {
  background: #a3f6a3;
}

.choiceTitleSelectOrg {
  display: block;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

.selectOrgToDisplayClass {
  display: block;
  border-radius: 10px;
  margin: 5px;
  color: black;
  background: white;
  max-height: 150px;
  overflow: auto;
}

.selectOrgToDisplayClass::-webkit-scrollbar {
  display: none;
}

.titleSelectOrg {
  padding: 3px 15px;
  text-align: center;
}

.searchOrg {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.org-sClass {
  margin: 10px;
}

hr {
  opacity: 20%;
}

.ownOrgClass {
  display: flex;
  justify-content: center;
  cursor: pointer;
  /*border-bottom: solid 1px;*/
}


.titleSelectOrgText {
  margin: 10px;
}

.btnChangeSelectOrgClass {
  margin: 15px 150px;
  border-radius: 10px;
  border: solid 1px #0221c0;
}

@media (max-width: 400px) {
  .selectedOrg {
    margin: 5px 5px 5px 0;
  }

}
